export(yadirGetCampaignList)
export(yadirGetCampaignListOld)
export(yadirGetClientList)
export(yadirGetSummaryStat)
export(yadirGetToken)
export(yadirCurrencyRates)
export(yadirGetDictionary)
export(yadirGetLogsData)
export(yadirGetReport)
export(yadirGetAds)
export(yadirGetClientParam)
importFrom(utils,browseURL)
importFrom(RCurl,getURL)
importFrom(httr,POST)
importFrom(httr,GET)
importFrom(httr,stop_for_status)
importFrom(httr,content)
importFrom(httr,add_headers)
import(bitops)
