export(yadirGetCampaignList)
export(yadirGetClientList)
export(yadirGetSummaryStat)
export(yadirGetToken)
export(yadirAuth)
export(yadirCurrencyRates)
export(yadirGetDictionary)
export(yadirGetLogsData)
export(yadirGetMetrikaGAData)
export(yadirGetReport)
export(yadirGetAdGroups)
export(yadirGetAds)
export(yadirGetKeyWords)
export(yadirGetBalance)
export(yadirGetClientParam)
export(yadirGetSiteLinks)
export(yadirStopCampaigns)
export(yadirStartCampaigns)
export(yadirStartAds)
export(yadirStopAds)
export(yadirStopKeyWords)
export(yadirStartKeyWords)
importFrom(utils,browseURL)
importFrom(RCurl,getURL)
importFrom(httr,POST)
importFrom(httr,GET)
importFrom(httr,stop_for_status)
importFrom(httr,content)
importFrom(httr,add_headers)
importFrom(jsonlite,toJSON)
importFrom(jsonlite,fromJSON)
importFrom(xml2,xml_text)
importFrom(xml2,xml_find_all)
importFrom(dplyr,bind_rows)
import(bitops)
import(data.table)
import(magrittr)
